.featured-best-collections {
  margin: 30px 0;
  padding: 20px 0;
  @media(min-width: 768px) {
    margin: 60px 0;
    padding: 30px 0;
  }
  &__header {
    text-align: center;
  }
  &__link {
    display: block;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 20px;
  }
  &__link:hover::before {
    display: none;
    @media(min-width: 768px) {
      display: block;
      background-color: transparent;
      -webkit-transition: all .35s ease-out;
      -moz-transition: all .35s ease-out;
      -o-transition: all .35s ease-out;
      transition: all .35s ease-out;
    }
  }
  &__link::before {
    display: none;
    @media(min-width: 768px) {
      background-color: rgba(0,0,0,.2);
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      -webkit-transition: all .35s ease-out;
      -moz-transition: all .35s ease-out;
      -o-transition: all .35s ease-out;
      transition: all .35s ease-out;
      z-index: 2;
    }
  }
  &__link:hover &__title {
    opacity: 1;
    @media(min-width: 768px) {
      -webkit-transition: all .35s ease-out;
      -moz-transition: all .35s ease-out;
      -o-transition: all .35s ease-out;
      transition: all .35s ease-out;
      padding: 0;
    }
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    text-align: center;
  }
  &__outher {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  &__inner {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
  }
  &__title {
    opacity: 1;
    color: #ffffff;
    text-shadow: 0 0 4px rgba(0,0,0,.8);
    margin: 0;
    @media(min-width: 768px) {
      opacity: 0;
      padding-top: 300px;
      -webkit-transition: all .35s ease-out;
      -moz-transition: all .35s ease-out;
      -o-transition: all .35s ease-out;
      transition: all .35s ease-out;
    }
  }
  &__text {
    background-color: green;
  }
  &__image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
